<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="io.heapy.spring.DefaultService">
        <constructor-arg ref="service1"/>
    </bean>

    <bean id="service1" class="io.heapy.spring.DefaultService1">
        <constructor-arg ref="service2"/>
    </bean>

    <bean id="service2" class="io.heapy.spring.DefaultService2">
        <constructor-arg ref="service3"/>
    </bean>

    <bean id="service3" class="io.heapy.spring.DefaultService3">
        <constructor-arg ref="service4"/>
    </bean>

    <bean id="service4" class="io.heapy.spring.DefaultService4">
        <constructor-arg ref="service5"/>
    </bean>

    <bean id="service5" class="io.heapy.spring.DefaultService5">
        <constructor-arg ref="service6"/>
    </bean>

    <bean id="service6" class="io.heapy.spring.DefaultService6">
        <constructor-arg ref="service7"/>
    </bean>

    <bean id="service7" class="io.heapy.spring.DefaultService7">
        <constructor-arg ref="service8"/>
    </bean>

    <bean id="service8" class="io.heapy.spring.DefaultService8">
        <constructor-arg ref="service9"/>
    </bean>

    <bean id="service9" class="io.heapy.spring.DefaultService9">
        <constructor-arg ref="service10"/>
    </bean>

    <bean id="service10" class="io.heapy.spring.DefaultService10">
        <constructor-arg ref="service11"/>
    </bean>

    <bean id="service11" class="io.heapy.spring.DefaultService11">
        <constructor-arg ref="service12"/>
    </bean>

    <bean id="service12" class="io.heapy.spring.DefaultService12">
        <constructor-arg ref="service13"/>
    </bean>

    <bean id="service13" class="io.heapy.spring.DefaultService13">
        <constructor-arg ref="service14"/>
    </bean>

    <bean id="service14" class="io.heapy.spring.DefaultService14">
        <constructor-arg ref="service15"/>
    </bean>

    <bean id="service15" class="io.heapy.spring.DefaultService15">
        <constructor-arg ref="service16"/>
    </bean>

    <bean id="service16" class="io.heapy.spring.DefaultService16">
        <constructor-arg ref="service17"/>
    </bean>

    <bean id="service17" class="io.heapy.spring.DefaultService17">
        <constructor-arg ref="service18"/>
    </bean>

    <bean id="service18" class="io.heapy.spring.DefaultService18">
        <constructor-arg ref="service19"/>
    </bean>

    <bean id="service19" class="io.heapy.spring.DefaultService19">
        <constructor-arg ref="service20"/>
    </bean>

    <bean id="service20" class="io.heapy.spring.DefaultService20">
        <constructor-arg ref="service21"/>
    </bean>

    <bean id="service21" class="io.heapy.spring.DefaultService21">
        <constructor-arg ref="service22"/>
    </bean>

    <bean id="service22" class="io.heapy.spring.DefaultService22">
        <constructor-arg ref="service23"/>
    </bean>

    <bean id="service23" class="io.heapy.spring.DefaultService23">
        <constructor-arg ref="service24"/>
    </bean>

    <bean id="service24" class="io.heapy.spring.DefaultService24">
        <constructor-arg ref="service25"/>
    </bean>

    <bean id="service25" class="io.heapy.spring.DefaultService25">
        <constructor-arg ref="service26"/>
    </bean>

    <bean id="service26" class="io.heapy.spring.DefaultService26">
        <constructor-arg ref="service27"/>
    </bean>

    <bean id="service27" class="io.heapy.spring.DefaultService27">
        <constructor-arg ref="service28"/>
    </bean>

    <bean id="service28" class="io.heapy.spring.DefaultService28">
        <constructor-arg ref="service29"/>
    </bean>

    <bean id="service29" class="io.heapy.spring.DefaultService29">
        <constructor-arg ref="service30"/>
    </bean>

    <bean id="service30" class="io.heapy.spring.DefaultService30">
        <constructor-arg ref="service31"/>
    </bean>

    <bean id="service31" class="io.heapy.spring.DefaultService31">
        <constructor-arg ref="service32"/>
    </bean>

    <bean id="service32" class="io.heapy.spring.DefaultService32">
        <constructor-arg ref="service33"/>
    </bean>

    <bean id="service33" class="io.heapy.spring.DefaultService33">
        <constructor-arg ref="service34"/>
    </bean>

    <bean id="service34" class="io.heapy.spring.DefaultService34">
        <constructor-arg ref="service35"/>
    </bean>

    <bean id="service35" class="io.heapy.spring.DefaultService35">
        <constructor-arg ref="service36"/>
    </bean>

    <bean id="service36" class="io.heapy.spring.DefaultService36">
        <constructor-arg ref="service37"/>
    </bean>

    <bean id="service37" class="io.heapy.spring.DefaultService37">
        <constructor-arg ref="service38"/>
    </bean>

    <bean id="service38" class="io.heapy.spring.DefaultService38">
        <constructor-arg ref="service39"/>
    </bean>

    <bean id="service39" class="io.heapy.spring.DefaultService39">
        <constructor-arg ref="service40"/>
    </bean>

    <bean id="service40" class="io.heapy.spring.DefaultService40">
        <constructor-arg ref="service41"/>
    </bean>

    <bean id="service41" class="io.heapy.spring.DefaultService41">
        <constructor-arg ref="service42"/>
    </bean>

    <bean id="service42" class="io.heapy.spring.DefaultService42">
        <constructor-arg ref="service43"/>
    </bean>

    <bean id="service43" class="io.heapy.spring.DefaultService43">
        <constructor-arg ref="service44"/>
    </bean>

    <bean id="service44" class="io.heapy.spring.DefaultService44">
        <constructor-arg ref="service45"/>
    </bean>

    <bean id="service45" class="io.heapy.spring.DefaultService45">
        <constructor-arg ref="service46"/>
    </bean>

    <bean id="service46" class="io.heapy.spring.DefaultService46">
        <constructor-arg ref="service47"/>
    </bean>

    <bean id="service47" class="io.heapy.spring.DefaultService47">
        <constructor-arg ref="service48"/>
    </bean>

    <bean id="service48" class="io.heapy.spring.DefaultService48">
        <constructor-arg ref="service49"/>
    </bean>

    <bean id="service49" class="io.heapy.spring.DefaultService49">
        <constructor-arg ref="service50"/>
    </bean>

    <bean id="service50" class="io.heapy.spring.DefaultService50">
        <constructor-arg ref="service51"/>
    </bean>

    <bean id="service51" class="io.heapy.spring.DefaultService51">
        <constructor-arg ref="service52"/>
    </bean>

    <bean id="service52" class="io.heapy.spring.DefaultService52">
        <constructor-arg ref="service53"/>
    </bean>

    <bean id="service53" class="io.heapy.spring.DefaultService53">
        <constructor-arg ref="service54"/>
    </bean>

    <bean id="service54" class="io.heapy.spring.DefaultService54">
        <constructor-arg ref="service55"/>
    </bean>

    <bean id="service55" class="io.heapy.spring.DefaultService55">
        <constructor-arg ref="service56"/>
    </bean>

    <bean id="service56" class="io.heapy.spring.DefaultService56">
        <constructor-arg ref="service57"/>
    </bean>

    <bean id="service57" class="io.heapy.spring.DefaultService57">
        <constructor-arg ref="service58"/>
    </bean>

    <bean id="service58" class="io.heapy.spring.DefaultService58">
        <constructor-arg ref="service59"/>
    </bean>

    <bean id="service59" class="io.heapy.spring.DefaultService59">
        <constructor-arg ref="service60"/>
    </bean>

    <bean id="service60" class="io.heapy.spring.DefaultService60">
        <constructor-arg ref="service61"/>
    </bean>

    <bean id="service61" class="io.heapy.spring.DefaultService61">
        <constructor-arg ref="service62"/>
    </bean>

    <bean id="service62" class="io.heapy.spring.DefaultService62">
        <constructor-arg ref="service63"/>
    </bean>

    <bean id="service63" class="io.heapy.spring.DefaultService63">
        <constructor-arg ref="service64"/>
    </bean>

    <bean id="service64" class="io.heapy.spring.DefaultService64">
        <constructor-arg ref="service65"/>
    </bean>

    <bean id="service65" class="io.heapy.spring.DefaultService65">
        <constructor-arg ref="service66"/>
    </bean>

    <bean id="service66" class="io.heapy.spring.DefaultService66">
        <constructor-arg ref="service67"/>
    </bean>

    <bean id="service67" class="io.heapy.spring.DefaultService67">
        <constructor-arg ref="service68"/>
    </bean>

    <bean id="service68" class="io.heapy.spring.DefaultService68">
        <constructor-arg ref="service69"/>
    </bean>

    <bean id="service69" class="io.heapy.spring.DefaultService69">
        <constructor-arg ref="service70"/>
    </bean>

    <bean id="service70" class="io.heapy.spring.DefaultService70">
        <constructor-arg ref="service71"/>
    </bean>

    <bean id="service71" class="io.heapy.spring.DefaultService71">
        <constructor-arg ref="service72"/>
    </bean>

    <bean id="service72" class="io.heapy.spring.DefaultService72">
        <constructor-arg ref="service73"/>
    </bean>

    <bean id="service73" class="io.heapy.spring.DefaultService73">
        <constructor-arg ref="service74"/>
    </bean>

    <bean id="service74" class="io.heapy.spring.DefaultService74">
        <constructor-arg ref="service75"/>
    </bean>

    <bean id="service75" class="io.heapy.spring.DefaultService75">
        <constructor-arg ref="service76"/>
    </bean>

    <bean id="service76" class="io.heapy.spring.DefaultService76">
        <constructor-arg ref="service77"/>
    </bean>

    <bean id="service77" class="io.heapy.spring.DefaultService77">
        <constructor-arg ref="service78"/>
    </bean>

    <bean id="service78" class="io.heapy.spring.DefaultService78">
        <constructor-arg ref="service79"/>
    </bean>

    <bean id="service79" class="io.heapy.spring.DefaultService79">
        <constructor-arg ref="service80"/>
    </bean>

    <bean id="service80" class="io.heapy.spring.DefaultService80">
        <constructor-arg ref="service81"/>
    </bean>

    <bean id="service81" class="io.heapy.spring.DefaultService81">
        <constructor-arg ref="service82"/>
    </bean>

    <bean id="service82" class="io.heapy.spring.DefaultService82">
        <constructor-arg ref="service83"/>
    </bean>

    <bean id="service83" class="io.heapy.spring.DefaultService83">
        <constructor-arg ref="service84"/>
    </bean>

    <bean id="service84" class="io.heapy.spring.DefaultService84">
        <constructor-arg ref="service85"/>
    </bean>

    <bean id="service85" class="io.heapy.spring.DefaultService85">
        <constructor-arg ref="service86"/>
    </bean>

    <bean id="service86" class="io.heapy.spring.DefaultService86">
        <constructor-arg ref="service87"/>
    </bean>

    <bean id="service87" class="io.heapy.spring.DefaultService87">
        <constructor-arg ref="service88"/>
    </bean>

    <bean id="service88" class="io.heapy.spring.DefaultService88">
        <constructor-arg ref="service89"/>
    </bean>

    <bean id="service89" class="io.heapy.spring.DefaultService89">
        <constructor-arg ref="service90"/>
    </bean>

    <bean id="service90" class="io.heapy.spring.DefaultService90">
        <constructor-arg ref="service91"/>
    </bean>

    <bean id="service91" class="io.heapy.spring.DefaultService91">
        <constructor-arg ref="service92"/>
    </bean>

    <bean id="service92" class="io.heapy.spring.DefaultService92">
        <constructor-arg ref="service93"/>
    </bean>

    <bean id="service93" class="io.heapy.spring.DefaultService93">
        <constructor-arg ref="service94"/>
    </bean>

    <bean id="service94" class="io.heapy.spring.DefaultService94">
        <constructor-arg ref="service95"/>
    </bean>

    <bean id="service95" class="io.heapy.spring.DefaultService95">
        <constructor-arg ref="service96"/>
    </bean>

    <bean id="service96" class="io.heapy.spring.DefaultService96">
        <constructor-arg ref="service97"/>
    </bean>

    <bean id="service97" class="io.heapy.spring.DefaultService97">
        <constructor-arg ref="service98"/>
    </bean>

    <bean id="service98" class="io.heapy.spring.DefaultService98">
        <constructor-arg ref="service99"/>
    </bean>

    <bean id="service99" class="io.heapy.spring.DefaultService99">
        <constructor-arg ref="service100"/>
    </bean>

    <bean id="service100" class="io.heapy.spring.DefaultService100">
        <constructor-arg ref="service101"/>
    </bean>

    <bean id="service101" class="io.heapy.spring.DefaultService101">
    </bean>
</beans>
